<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-zinc-900 text-5xl p-10 w-full h-screen">
        <h1 class=" text-white">404 not found </h1>
        <p class="text-xl pt-5 text-zinc-100">somthing is wrong try to again</p>
    </div>
</body>
</html>